on:
  push:
    branches:
    - master
    - v15.x
    - v14.x
    - v13.x
    - v12.x
    - v11.x
  pull_request:
name: Tests
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.22.x, 1.23.x, 1.24.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: |
        go version
        go test -race ./...

